body {
    font-family: 'Chakra Petch', sans-serif;
    color:#2e2e2e;
    letter-spacing:.01rem;
    line-height:1.75rem;
	margin: 20%;
}
a {
text-decoration:none;
}
.grid-container {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 1px 1px;
	grid-template-areas: "sidebar main main main" "sidebar main main main" "sidebar main main main";
}
.sidebar { grid-area: sidebar; }
.main { grid-area: main; }
.iconLink {
	color: #777777
}