body,h1,h3{
    font-family: 'Chakra Petch', sans-serif;
    color:#2e2e2e;
    letter-spacing:.01rem;
    line-height:1.75rem
}
.col{
    float:left;
    box-sizing:border-box
}
.black,.dark-gray{
    color:#111
}
.width-120{
    width:120px
}